body {
    font-family: sans-serif;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #randomNumber {
    font-weight: bold;
  }
  